node_modules/
targets/
target/
build/
out/
lib/
classes/
checkouts/

POD-INF/classes/
POD-INF/lib/
public/scripts/
public/styles/
public/images/
public/pages/

*.class
*.asc
*.jar
*.zip
*.gz

.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history

.nrepl*

._.DS_Store
.DS_Store
.svn
.sass-cache



